PORT=5000
NODE_ENV=production
MONGO_URI_DEV=your_mongodb_uri_dev
MONGO_URI_PROD=your_mongodb_uri_prod
JWT_SECRET=your_jwt_secret
JWT_EXPIRES=1d

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
CLOUDINARY_URL=cloudinary://your_cloudinary_url

MAILTRAP_API=your_mailtrap_api

USE_SYSTEM_MONGO=true